* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: system-ui, sans-serif;
	height: 100vh;
	overflow: hidden;
	font-size: 1.2rem;
}
.container {
	display: flex;
	height: 100vh;
}
.left-column {
	width: 50%;
	overflow-y: auto;
	padding: 2rem;
	border-right: 1px solid #ddd;
}
.right-column {
	width: 50%;
	overflow-y: auto;
	padding: 2rem;
}
iframe {
	width: 100%;
	height: 100%;
	border: none;
}
a {
	color: blue;
}
a:visited {
	color: blue;
}
a[data-content] {
	cursor: pointer;
	text-decoration: underline;
}
hr {
	border: none;
	border-top: 1px solid black;
	margin: 1.5em 0;
}

/* Typography spacing */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}
p,
ul,
ol {
	margin-bottom: 1em;
}

/* No-space utility class */
.no-space,
.no-space > * {
	margin: 0;
}

/* Table as CSS Grid */
table {
	display: grid;
	width: 100%;
	font-size: 1rem;
}
.schedule-table table {
	grid-template-columns: auto auto 1fr auto;
}
.theme-title {
	display: inline-block;
	font-weight: bold;
	background-color: #ffeb3b;
	padding: 0.1em 0.3em;
	margin-bottom: 0.5em;
}

/* List styling */
ul {
	list-style: none;
	padding-left: 0;
}
ul li::before {
	content: "- ";
}
ol {
	padding-left: 1.5em;
}
ol li {
	margin-bottom: 0.5em;
}
ul ul,
ul ol,
ol ul,
ol ol {
	padding-left: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
thead,
tbody,
tr {
	display: contents;
}
th,
td {
	padding: 0.5rem 1rem;
	border-bottom: solid 1px black !important;
    text-align: left !important;
}
th {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
